@charset "UTF-8";

/*doc
---
title: Colors
name: a-colors
category: Layout - Colors
---

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-3 col-xs-6">
      <div style="background:#F2F2F2;"><br><br><br><br><br></div>
      <pre class="text-center">$background-gray</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#666666;"><br><br><br><br><br></div>
      <pre class="text-center">$nav-gray</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#42210b;"><br><br><br><br><br></div>
      <pre class="text-center">$titles</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#424242;"><br><br><br><br><br></div>
      <pre class="text-center">$text-courant</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#9B7E74;"><br><br><br><br><br></div>
      <pre class="text-center">$text-footer</pre>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div style="background:#FF6666;"><br><br><br><br><br></div>
      <pre class="text-center">$name-date</pre>
    </div>
    </div>
  </div>
</div>
*/

$background-gray: #F2F2F2;
$nav-gray: #666666;
$name-date: #FF6666;
$text-courant: #424242;
$text-footer: #9B7E74;
$titles: #42210b;



