<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block pagetitle %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="../css/hrw.css">
    </head>
    <body>
        <img src="../img/hrwlogo.png" style="width:110px; height:110px;">
            <div class="btn-group">
              <button type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                Langues <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Anglais</a></li>
                <li><a href="#">Français</a></li>
                <li><a href="#">Espagnol</a></li>
                <li><a href="#">Allemand</a></li>
                <li><a href="#">Italien</a></li>
                </ul>
            </div><br>
            <div class="headerhrw">
            <ul class="nav nav-pills nav-justified">
              <li class="active"><a href="index.html">Accueil</a></li>
              <li><a href="actions.html">Nos actions</a></li>
              <li><a href="#">Actualités</a></li>
              <li><a href="#">Rapports</a></li>
              <li><a href="multimedia.html">Multimédia</a></li>
              <li><a href="#">A propos</a></li>
            </ul>
                <div class="search">
                <input type="text" class="form-control">
                <button type="button" class="btn btn-primary">Chercher</button>
                </div>
            </div>
            {% block page %}{% endblock %}
            <ol class="breadcrumb breadcrumb2">
  <li><a href="#">Acceuil</a></li>
  <li><a href="#">Notre travail</a></li>
  <li><a href="#">Actualité</a></li>
  <li><a href="#">Rapport</a></li>
  <li><a href="#">Multimédia</a></li>
  <li><a href="#">A propos de</a></li>
  <li><a href="#">Contact Us</a></li>
  <li><a href="#">Film festival</a></li>
  <li><a href="#">Faite un don</a></li>
</ol>
            <footer>
                <article class="exemple">
                <br> 
                  <h3 class='titre-foot'>Thèmes</h3>
                  <div class='row'>
                  <div class="col-xs-6 col-md-4">
                  <ul class="list-footer">
                    <li class="list-footer-item"><a href='#'>Armes</a></li>
                    <li class="list-footer-item"><a href='#'>Monde de l’entreprise</a></li>
                    <li class="list-footer-item"><a href='#'>Droits de l’enfant</a></li>
                    <li class="list-footer-item"><a href='#'>Lutte antiterroriste</a></li>
                    <li class="list-footer-item"><a href='#'>Droits des personnes handicapées</a></li>
                    <li class="list-footer-item"><a href='#'>Environnement</a></li>
                  </ul>
                  </div>
                  <div class="col-xs-6 col-md-4">
                  <ul class="list-footer">
                    <li class="list-footer-item"><a href='#'>Droits économiques, sociaux et culturels</li>
                    <li class="list-footer-item"><a href='#'>Free Speech</li>
                    <li class="list-footer-item"><a href='#'>Santé</li>
                    <li class="list-footer-item"><a href='#'>Justice internationale</li>
                    <li class="list-footer-item"><a href='#'>Droits LGBT</li>
                    <li class="list-footer-item"><a href='#'>Drois des migrants</li>

                  </ul>
                  </div>
                  <div class="col-xs-6 col-md-4">
                  <ul class="list-footer">
                    <li class="list-footer-item"><a href='#'>Réfugiés</a></li>
                    <li class="list-footer-item"><a href='#'>Terrorisme</a></li>
                    <li class="list-footer-item"><a href='#'>Torture</a></li>
                    <li class="list-footer-item"><a href='#'>Nation Unies</a></li>
                    <li class="list-footer-item"><a href='#'>Droits des femmes</a></li>

                  </ul>
                  </div>
                  </div>
            </footer>
                <p class="copyright">© Copyright 2014, Human Rights Watch</p>
        <script src="../js/vendors.min.js"></script>
        <script src="../js/main.min.js"></script>
    </body>
</html>