@charset "UTF-8";

/*doc
---
title: Article de base
name: a-article
category: Layout - Article
---

```html_example
<button type="button" class="btn btn-primary">Primary</button>
```


| Preview                                                        | Class                      |
|----------------------------------------------------------------|----------------------------|
| <button type="button" class="btn btn-default">Default</button> | <pre>btn btn-default</pre> |
| <button type="button" class="btn btn-primary">Primary</button> | <pre>btn btn-primary</pre> |
| <button type="button" class="btn btn-success">Success</button> | <pre>btn btn-success</pre> |
| <button type="button" class="btn btn-info">Info</button>       | <pre>btn btn-info</pre>    |
| <button type="button" class="btn btn-warning">Warning</button> | <pre>btn btn-warning</pre> |
| <button type="button" class="btn btn-danger">Danger</button>   | <pre>btn btn-danger</pre>  |
| <button type="button" class="btn btn-link">Link</button>       | <pre>btn btn-link</pre>    |
*/



/*doc
---
title: Article exemple
name: article-1
category: Layout - Article
---

```html_example
<article class="exemple"> 
<h3 class='titre-ex'>Nos rapports</h3>
```
*/

article.exemple {
				 width: auto;
				 height: 400px;
				 background-color: white;}

.titre-ex {
	    border-bottom:1px solid $nav-gray;
	    padding-bottom: 4px;
	    color:$nav-gray;
	    font-family: 'Lucida Grande';}


/*doc
---
title: footer
name: foofoo
category: Layout - Article
---

```html_example
<article class="exemple"> 
<h3 class='titre-foot'>Thèmes</h3>
<div class='row footerblock'>
<div class="col-xs-6 col-md-4">
<ul class="list-footer">
  <li class="list-footer-item"><a href='#'>Armes</a></li>
  <li class="list-footer-item"><a href='#'>Monde de l’entreprise</a></li>
  <li class="list-footer-item"><a href='#'>Droits de l’enfant</a></li>
  <li class="list-footer-item"><a href='#'>Lutte antiterroriste</a></li>
  <li class="list-footer-item"><a href='#'>Droits des personnes handicapées</a></li>
  <li class="list-footer-item"><a href='#'>Environnement</a></li>
</ul>
</div>
<div class="col-xs-6 col-md-4">
<ul class="list-footer">
  <li class="list-footer-item"><a href='#'>Droits économiques, sociaux et culturels</li>
  <li class="list-footer-item"><a href='#'>Free Speech</li>
  <li class="list-footer-item"><a href='#'>Santé</li>
  <li class="list-footer-item"><a href='#'>Justice internationale</li>
  <li class="list-footer-item"><a href='#'>Droits LGBT</li>
  <li class="list-footer-item"><a href='#'>Drois des migrants</li>
 
</ul>
</div>
<div class="col-xs-6 col-md-4">
<ul class="list-footer">
  <li class="list-footer-item"><a href='#'>Réfugiés</a></li>
  <li class="list-footer-item"><a href='#'>Terrorisme</a></li>
  <li class="list-footer-item"><a href='#'>Torture</a></li>
  <li class="list-footer-item"><a href='#'>Nation Unies</a></li>
  <li class="list-footer-item"><a href='#'>Droits des femmes</a></li>
 
</ul>
</div>
</div>
```
*/   
.footerblock {
  width: 995px;
}
.titre-foot { font-family: 'Lucida Grande';
			  font-size: 9pt;
				color: $nav-gray;
				margin-bottom: 10px;
      }
article.exemple {
    height: 200px;
  }
  .copyright {
    text-align:center;
    margin-top:12px;
  }

.list-footer-item {font-size: 9pt;
				   color: $text-footer;
				   list-style-type: none;}

a {text-decoration: none;}

footer h3 {
  margin-top:0px;
}				   
a:hover{color:$name-date;}